/* login page design */
.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    /*width: 50%;
    margin: auto;
    margin-top: 5%;
    padding: 3%; */
    background: linear-gradient(to bottom, rgba(163, 161, 161, 0.5), rgba(71, 71, 71, 0.5)), url('../images/loginBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* gap: 1px; */
    border: none;

    .login-details1 {
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        border: none;
    }

    .login-details2 {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border-left: none;
    }

    .login-details1,
    .login-details2 {
        background-color: #ffffffe8;
        box-sizing: border-box;
        height: 30em;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap: 2rem;
        padding: 1.7rem;

        #login1,
        #login2 {
            font-size: 2rem;
            font-weight: 600;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            line-height: 2rem;
            color: black;
            width: 100%;
            background-color: rgb(127, 150, 255);
        }

        #login1 {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 2%;
            padding-right: 2%;
        }

        #login2 {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 2%;
            padding-left: 2%;
        }

        .form-check {
            display: flex;
            flex-direction: row;
            gap: 2rem;

            span {
                display: flex;
                gap: 2px;
            }
        }
    }
}

/* registration page design */
.register-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(to bottom, rgba(163, 161, 161, 0.9), rgba(71, 71, 71, 0.5)), url('../images/loginBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;

    #section-image {
        height: 30em;
        width: 30%;
        background-image: url('../images/loginBg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-clip: border-box;
    }

    #section-content {
        background-color: #fff;
        height: 30em;
        width: 40%;
        /* padding-top: 1%; */
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: space-around;
    }

    .user-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;

        #register {
            font-size: 1.9rem;
            font-weight: 600;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        .form-check {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.6rem;
        }
    }
}

/* home page design */
#root-home {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;

    /* navbar */
    .home-nav-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 0px 0px 15px 2px #333030;
        gap: 30%;
        width: 100%;
        height: 7%;
        margin-left: 15%;
        /* background-image: linear-gradient(to right, rgba(255, 0, 242, 0.527), rgba(255, 255, 0, 0.63)); */
        background-color: rgba(128, 128, 128, 0.158);
        position: fixed;
        top: 0;
        padding: 1%;

        /* sidebar options */
        #sidebar-list-item-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            /* icons */
            #sidebar-list-item-icon {
                /* display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center; */
                width: 5px;
            }

            /* texts */
            #sidebar-list-item-text,
            .css-rizt0-MuiTypography-root {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                font-size: 0.8rem;
                font-weight: 600;
                width: 100%;
                margin-left: -0.7rem;
            }

            /* user profile image */
            #demoUser {
                height: 10px;
                width: 10px;
                display: none;
            }
        }

        /* logo image */
        #projectLogo {
            width: 3%;
            justify-content: flex-start;
            background-color: #ffffff;
            border: 1px solid #fff;
            border-radius: 100%;
            padding: 0.8%;
            cursor: pointer;
        }
    }

    /* content */
    .content-section {
        margin-top: 7%;
        margin-left: 18%;
        margin-right: 1.5%;
    }
}

/* dashboard page design */
p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#dashboard-card-section-icon-div {
    min-width: 3rem;
    min-height: 3rem;
    /* max-width: 4rem;
    max-height: 4rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    border-radius: 100%;

    #dashboard-card-section-icon {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: palevioletred;

    }
}


/* budget page */
.text-budget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    #outlined-basic-budget {
        border: 2px solid rgb(219, 221, 221);
        border-radius: 5px;
        padding: 2px;
        width: 180px;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}